fastapi
pydantic
uvicorn
wave
vosk
keras
tensorflow
numpy
sklearn
pandas
rake_nltk
word2number
nltk
spacy
Cython
torch
matplotlib
einops
inflect
Unidecode
librosa
scipy
tqdm
dataclasses_json
wget
pyttsx3
pydub