* {
  margin:0;
  padding:0;
  text-decoration: none;
}

main {
  width: 100%;
  padding: 20px;
}

/* SIDEBAR */
.sidebar-container {
  display:flex;
}

.sidebar {
  position: sticky;
  top: 0;
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  overscroll-behavior: none;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed + main {
  margin-left: 60px;
  width: calc(100% - 60px);
}

.top-section {
  display: flex;
  align-items:center;
  padding:20px 15px;
  position: relative;
  width: 100%;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.sidebar-item, .sidebar-power {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.sidebar-power {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 30px);
}

.sidebar-power:hover {
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
  cursor: pointer;
}

.sidebar-item:hover {
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.link:hover {
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: lightskyblue;
  color: #000;
}

.sidebar-icon, .sidebar-text {
  font-size: 20px;
}

body {
  overscroll-behavior: none;
}

html {
  font-family: Roboto, Helvetica, sans-serif;
}

/* CONTAINERS */

.page-container {
  padding: 20px;
}


.notification-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* ITEM LIST */

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  padding: 15px 20px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  text-align: left;
}

.item-list li:hover {
  background-color: #e0e0e0;
}

.item-list li:last-child {
  margin-bottom: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

/* FORMS */

.form-field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  align-items: left;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* NOTIFICATIONS */

.notification {
  margin-bottom: 10px;
  width: 200px;
}

.success-notification, .error-notification, .info-notification {
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut .5s ease-in-out;
}

.error-notification {
  background-color: #f44336;
}

.info-notification {
  background-color: #2196f3;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 350px;
  }
}

/* HEADERS */

.node-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* BUTTONS */

.submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.big-submit-button {
  margin-bottom: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit-button:hover, .big-submit-button:hover {
  background-color: #3f9142;
}

.info-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.big-info-button {
  margin-bottom: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2980b9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.info-button:hover, .big-info-button:hover {
  background-color: #2980b9;
}

.update-button {
  background-color: #e87c09;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #c56907;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d4392d;
}

.reload-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  color: #3498db;
}

.reload-button:hover {
  color: #2980b9;
}

.record-button {
  margin-bottom: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #c50052;
}

.record-button:hover {
  background-color: #a10043;
}

.info-button.disabled, .big-info-button:disabled, 
.update-button.disabled, .submit-button.disabled, 
.big-submit-button:disabled, .delete-button.disabled,
.reload-button.disabled, .record-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* DROPDOWNS */

.dropdown {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.dropdown::after {
  content: '\25BC'; /* Unicode character for a down arrow */
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* COLLAPSABLE SECTION */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  cursor: pointer;
  user-select: none;
}

.section-header h2 {
  margin: 0;
  font-size: 16px;
}

.collapsible-section {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.section-content {
  padding: 15px;
  background-color: #fff;
}

.collapsible-section.collapsed {
  height: 0;
  padding: 0;
  border: none;
}

/* OVERVIEW PAGE SPECIFIC */

.overview-field {
  width: 800px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.overview-field:focus {
  outline: none;
  border-color: #007bff;
}