[Unit]
Description=openvoiceassistant hub frontend
After=multi-user.target

[Service]
WorkingDirectory=OVAPATH
ExecStart=/bin/bash OVAPATH/scripts/start_frontend.sh
User=USER

[Install]
WantedBy=multi-user.target